* {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    width: 100%;
}

input,
button {
    padding: 0.5em;
}

/* Seach Bar */
#search_bar {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;

    margin: 0.5em;

    height: calc(100dvh - 1em);

    box-sizing: border-box;
}

#search_bar input {
    flex-shrink: 0;
    flex-grow: 0;

    margin-bottom: 0.5em;

    width: 100%;
}

#search_bar ul {
    overflow-y: scroll;
}

#search_bar button {
    margin: 0.4em;

    padding: 0.5em;

    width: calc(100% - 0.8em);
}

/* Main */
main {
    display: flex;
    flex-direction: column;

    margin: 0.5em;

    width: 100%;
}

/* Controls */
#controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

/* Program */
#program progress[value="0"] {
    display: none;
}

/* Keyboard Preview */
#keyboard_preview {
    display: grid;
    justify-items: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#keyboard_preview .state {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1;
    grid-row: 1;
    gap: 5em;
}

#keyboard_preview:not(.fn_state) .state:first-child {
    z-index: 1;
}

#keyboard_preview :is(.left, .right) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5em;

    padding: 1em;
    padding-top: 2.5em;
    padding-bottom: 7.3em;

    width: 30em;
}

#keyboard_preview button {
    padding: 0.2em;

    aspect-ratio: 1;
    min-width: 0;

    box-sizing: border-box;

    word-wrap: break-word;
}

/* Keyboard Preview Position Button */
#keyboard_preview :is(.left button[data-row="5"]:is([data-col="0"], [data-col="1"]),
    .right button[data-row="5"]:is([data-col="5"], [data-col="6"])),
#keyboard_preview :is(.left button[data-col="6"]:is([data-row="3"], [data-row="4"], [data-row="5"]),
    .right button[data-col="0"]:is([data-row="3"], [data-row="4"], [data-row="5"])) {
    visibility: hidden;
}

#keyboard_preview :is(.left, .right) button:is([data-col="2"], [data-col="3"], [data-col="4"]) {
    transform: translateY(-2em);
}

#keyboard_preview :is(.left button:is([data-col="5"], [data-col="6"]),
    .right button:is([data-col="0"], [data-col="1"])) {
    transform: translateY(-1em);
}

#keyboard_preview .left button[data-col="4"][data-row="4"] {
    transform: rotate(10deg) translateX(1em);
}

#keyboard_preview .left button[data-col="5"][data-row="4"] {
    transform: translateY(1em) rotate(10deg) translateX(1em);
}

#keyboard_preview .right button[data-col="2"][data-row="4"] {
    transform: rotate(-10deg) translateX(-1em);
}

#keyboard_preview .right button[data-col="1"][data-row="4"] {
    transform: translateY(1em) rotate(-10deg) translateX(-1em);
}

#keyboard_preview .left button[data-col="4"][data-row="5"] {
    transform: translateY(3em) rotate(-10deg) translateX(4em);
}

#keyboard_preview .left button[data-col="5"][data-row="5"] {
    transform: translateY(2em) rotate(-10deg) translateX(4em);
}

#keyboard_preview .left button[data-col="2"][data-row="5"] {
    transform: translateY(10em) rotate(-10deg) translateX(15.5em);
}

#keyboard_preview .left button[data-col="3"][data-row="5"] {
    transform: translateY(9em) rotate(-10deg) translateX(15.5em);
}

#keyboard_preview .right button[data-col="2"][data-row="5"] {
    transform: translateY(3em) rotate(10deg) translateX(-4em);
}

#keyboard_preview .right button[data-col="1"][data-row="5"] {
    transform: translateY(2em) rotate(10deg) translateX(-4em);
}

#keyboard_preview .right button[data-col="4"][data-row="5"] {
    transform: translateY(10em) rotate(10deg) translateX(-15.5em);
}

#keyboard_preview .right button[data-col="3"][data-row="5"] {
    transform: translateY(9em) rotate(10deg) translateX(-15.5em);
}